aiohttp==3.9.5
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==4.0.3
attrs==21.2.0
backcall==0.2.0
bleach==4.0.0
blinker==1.6.3
cachetools==5.3.2
certifi==2023.7.22
cffi==1.14.6
charset-normalizer==3.3.1
cli-helpers==2.3.0
click==8.1.7
colorama==0.4.4
configobj==5.0.8
ctransformers==0.2.27
cycler==0.11.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.8
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
filelock==3.14.0
fonttools==4.33.3
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.40
graphviz==0.17
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.0
idna==3.4
importlib-metadata==6.8.0
intel-openmp==2021.4.0
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.4.3
langchain==0.2.10
langchain-core==0.2.22
langchain-ollama==0.1.0
langchain-text-splitters==0.2.2
langsmith==0.1.93
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.2
matplotlib-inline==0.1.2
mdurl==0.1.2
mistune==0.8.4
mkl==2021.4.0
mpmath==1.3.0
multidict==6.0.5
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==3.2.1
nltk==3.8.1
notebook==6.4.2
numpy==1.21.2
oauthlib==3.2.2
ollama==0.3.1
openpyxl==3.0.10
orjson==3.10.6
packaging==23.2
pandas==1.4.3
pandocfilters==1.4.3
parso==0.8.2
pendulum==3.0.0
pgcli==4.0.1
pgspecial==2.1.1
pickleshare==0.7.5
Pillow==9.1.1
pipenv==2024.0.0
platformdirs==4.2.2
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==4.24.4
psycopg==3.1.17
psycopg-binary==3.1.17
psycopg2==2.9.9
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.20
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
Pygments==2.16.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-box==7.2.0
python-dateutil==2.8.2
pytz==2022.1
pywin32==301
pywinpty==1.1.3
PyYAML==6.0.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.9.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.8.0
sentence-transformers==3.0.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.25
sqlparse==0.4.4
streamlit==1.27.2
sympy==1.13.1
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.2.3
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
time-machine==2.13.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.0
torch==2.3.1
tornado==6.1
tqdm==4.66.1
traitlets==5.0.5
transformers==4.42.4
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
uvicorn==0.30.1
validators==0.22.0
virtualenv==20.26.2
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.1
windrose==1.9.0
yarl==1.9.4
zipp==3.17.0
